<?xml version="1.0"?>
<!-- 
/**
 * Customer Product list.
 *
 * @category  Ecommistry
 * @package   Ecommistry_ProductList
 * @author    Sumil
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Ecommistry_ProductList" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Catalog"/>             
        </sequence>
    </module>
</config>