<?xml version="1.0"?>
<!-- 
/**
 * Customer Product list.
 *
 * @category  Ecommistry
 * @package   Ecommistry_ProductList
 * @author    Sumil
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="productlist" translate="label" sortOrder="10">
            <label>Ecommistry ProductList</label>
        </tab>
        <section id="productlist" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product List Options</label>
            <tab>productlist</tab>
            <resource>Ecommistry_ProductList::config_productlist</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product List Options</label>
                <field id="limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Limit</label>
                     <comment>No. of products to be displayed at customer account section</comment>
                </field>                
            </group>
        </section>
    </system>
</config>